@import "compass/css3";
@import "compass/utilities/general";
@import "compass/typography/links";
@import "definitions";


/* Overriding base.css.scss */
#navbar-wrapper {
  background: url(asset_path('futurizando-navbar-bg.jpg', 'image')) repeat scroll center top #2E343D;
  @include box-shadow(none);
}
#navbar {
  //height: 45px;

  #navbar-right-links .user-info-dropdown {
    padding-top: 10px;
    padding-bottom: 7px;
  }
}
/* body.frontpage #page-header { */
/*   @include font-size($font-bigger); */
/* } */
#page-header {
  padding: 10px 0;
}
ul#navbar-left-links, ul#navbar-right-links {
  @include font-size($font-normal);
}
#main-logo {
  img {
    width: 350px;
    margin-top: 1px;
  }
}
ul#navbar-left-links li, ul#navbar-right-links li {
  margin-top: 13px;
}
