@import "compass/css3";
@import "compass/utilities/general";
@import "compass/typography/links";
@import "definitions";


/* Overriding base.css.scss */
#navbar-wrapper {
  background: url(asset_path('futurizando-navbar-bg.jpg', 'image')) repeat scroll center top $navbar-bg-color-light;
  @include box-shadow(none);
}
body.frontpage #navbar-wrapper {
  border-top: 50px solid $navbar-bg-color-light;
  border-bottom: 30px solid $fut-blue-light;
  background: $navbar-bg-color-light;
  background: url(asset_path('futurizando-frontpage-navbar-bg.jpg', 'image')) repeat-x scroll left top $navbar-bg-color-light;
  @include box-shadow(none);

  #navbar {
    padding-bottom: 0;
    padding-top: 0;
  }

  #main-logo {
    margin-bottom: 0px;
    margin-top: 0px;
  }

  #main-logo, #main-logo img {
    width: 560px;
    height: 120px;
  }
}
#navbar {
  #navbar-right-links .user-info-dropdown {
    padding-top: 5px;
    padding-bottom: 7px;
  }

  ul#navbar-left-links li, ul#navbar-right-links li {
    margin-top: 8px;
  }
}
/* body.frontpage #page-header { */
/*   @include font-size($font-bigger); */
/* } */
#page-header {
  padding: 10px 0;
}
ul#navbar-left-links, ul#navbar-right-links {
  @include font-size($font-normal);
}
#main-logo {
  img {
    width: 233px;
    margin-top: 0px;
  }
}
